html{
  scroll-behavior: smooth;
  overflow-y: visible;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman,sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #f9f9f9;
}

@media only screen and (min-width:768px)
{
  body{
    font-size: 16px;
  }
}

@media only screen and (min-width:480px) and (max-width:768px)
{
  body{
    font-size: 15px;
  }
}

@media only screen and (max-width:479px)
{
  body{
    font-size: 14px;
  }
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #090b13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  letter-spacing: 4px;
  z-index: 1;
  opacity: 1;  
}

.menu{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: 25px;
  gap: 7px;

}

@media(max-width:900px)
{
  .menu{
    display: none;
  }
}



.home{
  position: relative;
  display: flex;
  align-items: center;
  
  margin-right: 1vh;
}

.home:hover{
  cursor: pointer;
}

.home::after{
  position: absolute;
  content: '';
  background: #F5D7DB;
  height: 2.5px;
  width: 0%;
  left: 3px;
  bottom: -3px;

}

.home:hover::after{

  animation: line 1s ease;
  }

  @keyframes line {
    from{
      width: 0%;
    }
    to{
      width: 100%;
    }
    
  }


.home-logo{
  min-width: 20px;
  width: 20px;
  height: 20px;
  z-index: auto;
}

.home-title{
  font-size: 13px;
  color: rgb(249, 249, 249);
  padding: 5px 0;
  letter-spacing: 1.04px;
  line-height: 1.04px;
  white-space: nowrap;
   
}


